@use "vars" as *;

body {
	color: $black;
	font-size: rem($base-font-size);
	line-height: em($base-line-height, $base-font-size);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Necessary due to a font overwrite from .pure-g */
* {
	font-family: "Helvetica", "Arial", sans-serif;
}
