@use "vars" as *;

.visuallyhidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;

	white-space: nowrap;

	border: 0;

	clip: rect(0 0 0 0);
}

.hidden {
	display: none;
}

.hide-on-mobile {
	display: none;
}

.white {
	background-color: $white;
	color: $black;
}

@media #{$lg-up-layout} {
	.hide-on-mobile {
		display: inline-block;
	}

	.hide-on-desktop {
		display: none;
	}
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding-right: rem(16);
	padding-left: rem(16);

	@media #{$sm-up-layout} {
		padding-right: rem(72);
		padding-left: rem(72);
	}
}
